<!-- connection requests -->
<div class="suggested-connections pt-3">
  <p class="heading pb-0 mb-0">Connection Requests</p>
  <form id="connection-req" method="post">
    <% if(locals.connectionRequests && connectionRequests.length>0) { %>
      <% for(let i=0;i<connectionRequests.length;i++) {%>
        <%let bio = connectionRequests[i].bio ; 
          let profilePicUrl = connectionRequests[i].profile_pic_url;
          if(!profilePicUrl) {
            profilePicUrl = "images/blank-profile-picture.png";
          } else {
            profilePicUrl = "uploads/"+profilePicUrl;
          }
          if(bio) {
            if(bio.length>60) {
              bio = bio.slice(0,60)+" . . .";
            } 
          } 
        %>
        <div class="user py-3">
          <a href="profile?user=<%= connectionRequests[i].username %>"><img src="<%= profilePicUrl %>" alt=""></a>
          <p class="user-name"><%= connectionRequests[i].fullname %></p>
          <p class="user-headline pb-2"><%= bio %></p>
          <button class="rounded request-button accep-btn" name="connection_id" value="<%= connectionRequests[i].connection_id %>" type="submit" formaction="/acceptRequest">Accept</button>
          <button class="mx-3 rounded request-button ignore-btn" name="connection_id" value="<%= connectionRequests[i].connection_id %>" type="submit" formaction="/ignoreRequest">Ignore</button>
        </div>
      <% } %>
    <% } else { %>
      <div class="user py-3">
        <p class="mx-3">No connection requests</p>
      </div>
    <% } %>
  </form>
</div>

